#Title{
  text-align: center;
  margin-top: 60px;
  font-size: 60px;
  margin-bottom: 30px;
}

#Top{
  margin-top: 80px;
}

.page-header{
  color: blue;
}
#h3{
  color:blue;
  text-align: center;
}

#form{
  text-align: center;
}
#filechooser{
  margin-bottom: 20px;
  font-size: 20px;
  min-width: 100%;
  background: white;
}
#radiolabel{
  font-size: 20px;
  margin-right: 20px;
}
