<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>基于Cycle Gan的歌声转换</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/style0.css"%}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

  </head>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-inverse" href="/"><b>中文版本</b></a>
        <a class="navbar-brand navbar-inverse" href="en.html"><b>English Version</b></a>
      </div>
    </div>
    </div>
  </nav>


  <body class="Top col-xs-12 container" style="vertical-align: middle;font-family:font-family: 'Open Sans', sans-serif;;
  background-color:#99CCFF;">

    <div class="jumbotron text-center" id='Top' style="background:#243665;">
      <h1 style="color:white">Song Conversion Web Application</h1>
      <p style="color:#8BD8BD">
Upload newly recorded songs and complete the sound conversion of two corresponding singers with the trained model!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more about project information</a></p>
    </div>

    <div class="container" style="border-style: outset;background:white;border-radius:20px;">

    <h2>1.Select a song clip and upload it
      <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></h2>

    <div class="container" >
      <div class="col-md-8 col-md-offset-2">
        <h3><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
          Please select a wav file without background music to upload.</h3>
        <form method="post" enctype="multipart/form-data">
	         <!-- COMPONENT START -->
           {% csrf_token %}
           <span class="btn btn-default btn-file" id="filechooser">
           <input type="file" class="fileupload" name="document">
          </span><br>

	     <!-- COMPONENT END -->
    	<div class="form-group">
    		<button type="submit" class="btn btn-primary btn-lg pull-right">Confirm upload</button>
    		<button type="reset" class="btn btn-danger btn-lg">Reselect</button>
    	</div>
    </form>
  </div><br>
</div>

    <div class="col-md-12">
      {% if name %}
        <div class="alert alert-success" role="alert" style="font-size:20px">成功上传文件：{{name}}</div>
      {% endif %}
    </div>
</div><br>

    <div class="container" style="border-style: outset;background:white;border-radius:20px;">

    <h2>2.Convert the uploaded clip
    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></h2>
    <!-- Single button -->
    <h3 id="h3"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>The entire conversion process may last for a few minutes, please be patient!</h3>
    <h3 id="h3"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Please select the conversion direction correctly according to the file you uploaded!</h3>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
    <form class="" method="get" id ="form">
      <label class="radio-inline" id="radiolabel">
        <input type="radio" name="optradio" value="B2A">
        Female to male
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
      </label>
      <label class="radio-inline" id="radiolabel"><input type="radio" name="optradio" value="A2B">
        Male to female
        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true">
      </label>
      <input href="application.html" type="submit" class="btn btn-primary btn-lg" name="btn" value="Start conversion">
    </form><br>
    {% if Nodatafile %}
    <div class="alert alert-danger" role="alert" style="font-size:20px">You have not uploaded the corresponding file, please upload the wav file as required!</div>
    {% endif %}
    {% if output_file %}
    <div class="alert alert-success" role="alert" style="font-size:20px">The conversion is complete! Come listen to the results of the conversion.</div>
    {% endif %}
  </div>
</div>
</div><br>

    <div class="container" style="border-style: outset;background:white;border-radius:20px;">

    <h2>3.After the conversion is complete, the audio will be displayed here
    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></h2><br>
      <!-- {% if start == 1 %}
      <div class="loader"></div>
      {% endif%} -->

      <div class="container">
        <div class="col-md-8 col-md-offset-2">

        <div ng-app>
      {% if output_file %}
      <audio ng-src="{%static "result.wav" %}" controls></audio>
      {% else %}
      <audio ng-src="" controls></audio>
      {% endif %}
    </div><br>
    <form action='' method='GET'>
      <button type='submit' class="btn btn-warning btn-lg">Reselect song clips and upload files</button>
    </form>
  </div>
</div><br>
</div>

        <!-- The Contact Section -->
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px;font-family: Comic Sans MS;" id="contact">
          <h2 class="w3-wide w3-center">CONTACT</h2>
          <p class="w3-opacity w3-center"><i>Find some bugs? Please let me know!</i></p>
          <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
              <i class="fa fa-map-marker" style="width:30px"></i>Worcester Polytechnic Institute<br>
              <i class="" style="width:30px"></i>100 Institute Road<br>
              <i class="" style="width:30px"> </i>Worcester, MA | 01609-2280<br>
            </div>
            <div class="w3-col m6 w3-large w3-margin-bottom">
              <i class="fa fa-envelope" style="width:30px"> </i>Yuhan Liu<br>
              <i class="fa fa-envelope" style="width:30px"> </i>Email: yliu26@wpi.edu<br>
            </div>
          </div>
        </div>

  </body>
