<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>基于Cycle Gan的歌声转换</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css"%}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

  </head>

  <body class="Top col-xs-12 container-fluid" style="vertical-align: middle">

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-inverse" href="index.html"><b>Welcome</b></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="https://github.com/liuyuhanalex/Speech-Synthesis" style="color:Violet;"><b>Github</b></a></li>
        </ul>
      </div>
      </div>
    </nav>

    <div class="container" id="Begin" class="col-xs-12">
      <h1 id="Title">基于Cycle Gan的歌声转换</h1>
      

      <!-- The Contact Section -->
      <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center">CONTACT</h2>
        <p class="w3-opacity w3-center"><i>Find some bugs? Please let me know!</i></p>
        <div class="w3-row w3-padding-32">
          <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i>Worcester Polytechnic Institute<br>
            <i class="" style="width:30px"></i>100 Institute Road<br>
            <i class="" style="width:30px"> </i>Worcester, MA | 01609-2280<br>
          </div>
          <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-envelope" style="width:30px"> </i>Email: yliu26@wpi.edu<br>
          </div>
        </div>
      </div>
